<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>首页</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<!--    th:href="${'@{/css/bootstrap.min.css}'}"-->
</head>
<body>

    <div class="container" style="max-width:600px;margin-top: 50px">
        <div class="jumbotron">
            <h1>Welcome</h1>
<!--            <p th:text="${session.user.username}"></p>-->
<!--            &lt;!&ndash;<p  里面东西 > &ndash;&gt;-->
            <p><a href="#" th:href="@{/books/1}">查看书单详情</a></p>

        </div>
        <a href="#" class="btn btn-warning" th:href="@{/logout}">注 销</a>
    </div>

<script type ="text/javascript" src="../static/js/jquery-3.4.1.min.js" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<!--<script src="../static/js/bootstrap.min.js" th:src="${'@{/js/bootstrap.min.js}'}"></script>-->
<!--    <script src="../static/js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>-->
    <script type ="text/javascript" src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"  ></script>




</body>
</html>